@{
    ViewData["Title"] = "Web Benchmarking";
}
<hr />

<div id="topData">
</div>
<hr />

<div class="card-panel hoverable">
    <h2 class="center">
        Hello!
    </h2>
    <div class="col s4 offset-s4">
        <div class="input-field">
            <input placeholder="Please provide url" id="uriInput" type="text">
            <label for="uriInput">Uri to check</label>
        </div>
    </div>
    <div class="center">
        <a class="waves-effect waves-light green btn" id="goButton"><i class="material-icons">Go!</i></a>
        <a class="waves-effect waves-light blue btn" id="historyButton"><i class="material-icons">History</i></a>
        <a class="waves-effect waves-light violet btn" id="minMaxButton"><i class="material-icons">MinMax</i></a>
    </div>
</div>
</div>
<hr />
<div id="bottomData">
</div>